export const environment = {
  SERVER_URL: `{SERVER_URL}`,
  SIGNALR_SERVER_URL: `{SIGNALR_SERVER_URL}/api/weblogin`,
  UOLOAD_SERVER_URL: `{UPLOAD_SERVER_URL}/api/Storage/FileStore?`,
  production: true
};
